<?xml version="1.0" encoding="utf-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	cacheResult="false"
	colors="true"
>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<clover outputFile="coverage.xml"/>
			<text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
		</report>
	</coverage>

	<testsuites>
		<testsuite name="SealedClass extension for PHPStan">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
